<a href="https://colab.research.google.com/github/paridaabhishek/Alpacatrade/blob/master/StartingPointand1to5Min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
#Map Google drive
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive//MyDrive/AlpecaTrading/DataFiles/StreamFiles/AAPL.csv',skiprows=3,index_col=False)

In [5]:
df.columns =['Message Type', 
                'Symbol', 
                'Open', 
                'Close',
                'High',
                'Low',
                'Volume',
                'TimeStamp',
                'n',
                'vw']

In [6]:
df

    Message Type Symbol      Open  ...             TimeStamp     n          vw
0              b   AAPL  172.7650  ...  2022-02-10T19:54:00Z   966  172.759831
1              b   AAPL  172.7650  ...  2022-02-10T19:54:00Z   967  172.759806
2              b   AAPL  172.7599  ...  2022-02-10T19:55:00Z  1095  172.790304
3              b   AAPL  172.7852  ...  2022-02-10T19:56:00Z   934  172.798408
4              b   AAPL  172.8700  ...  2022-02-10T19:57:00Z  1117  172.741435
..           ...    ...       ...  ...                   ...   ...         ...
268            b   AAPL  171.7200  ...  2022-02-11T00:55:00Z    19  171.718160
269            b   AAPL  171.7500  ...  2022-02-11T00:56:00Z    50  171.688232
270            b   AAPL  171.7400  ...  2022-02-11T00:57:00Z    31  171.741856
271            b   AAPL  171.7400  ...  2022-02-11T00:58:00Z    16  171.734898
272            b   AAPL  171.7900  ...  2022-02-11T00:59:00Z    30  171.749194

[273 rows x 10 columns]

In [8]:
df_unique=df.drop_duplicates(subset=['TimeStamp']).copy()

In [11]:
df_unique.head(15)

   Message Type Symbol      Open  ...             TimeStamp     n          vw
0             b   AAPL  172.7650  ...  2022-02-10T19:54:00Z   966  172.759831
2             b   AAPL  172.7599  ...  2022-02-10T19:55:00Z  1095  172.790304
3             b   AAPL  172.7852  ...  2022-02-10T19:56:00Z   934  172.798408
4             b   AAPL  172.8700  ...  2022-02-10T19:57:00Z  1117  172.741435
5             b   AAPL  172.7700  ...  2022-02-10T19:58:00Z  1200  172.754650
6             b   AAPL  172.7100  ...  2022-02-10T19:59:00Z  1570  172.665413
7             b   AAPL  172.8300  ...  2022-02-10T20:00:00Z  1414  172.784780
8             b   AAPL  172.7900  ...  2022-02-10T20:01:00Z  2234  172.607319
9             b   AAPL  172.5350  ...  2022-02-10T20:02:00Z  1450  172.531714
10            b   AAPL  172.5400  ...  2022-02-10T20:03:00Z  1626  172.640585
12            b   AAPL  172.7244  ...  2022-02-10T20:04:00Z  1705  172.732512
13            b   AAPL  172.7800  ...  2022-02-10T20:05:00Z  1921  172.786160
15            b   AAPL  172.8300  ...  2022-02-10T20:06:00Z  1736  172.884183
16            b   AAPL  172.9200  ...  2022-02-10T20:07:00Z  1562  172.871485
18            b   AAPL  172.8250  ...  2022-02-10T20:08:00Z  1394  172.847172

[15 rows x 10 columns]

In [12]:
df_unique.loc[:,'TimeStamp'] = pd.to_datetime(df_unique['TimeStamp'])

In [13]:
df_unique.set_index('TimeStamp',inplace=True)

In [14]:
df_unique['5MinReminder'] = df_unique.index.minute % 5
df_unique['15MinReminder'] = df_unique.index.minute % 15

In [15]:
df_unique.head(20)

                          Message Type Symbol  ...  5MinReminder  15MinReminder
TimeStamp                                      ...
2022-02-10 19:54:00+00:00            b   AAPL  ...             4              9
2022-02-10 19:55:00+00:00            b   AAPL  ...             0             10
2022-02-10 19:56:00+00:00            b   AAPL  ...             1             11
2022-02-10 19:57:00+00:00            b   AAPL  ...             2             12
2022-02-10 19:58:00+00:00            b   AAPL  ...             3             13
2022-02-10 19:59:00+00:00            b   AAPL  ...             4             14
2022-02-10 20:00:00+00:00            b   AAPL  ...             0              0
2022-02-10 20:01:00+00:00            b   AAPL  ...             1              1
2022-02-10 20:02:00+00:00            b   AAPL  ...             2              2
2022-02-10 20:03:00+00:00            b   AAPL  ...             3              3
2022-02-10 20:04:00+00:00            b   AAPL  ...             4              4
2022-02-10 20:05:00+00:00            b   AAPL  ...             0              5
2022-02-10 20:06:00+00:00            b   AAPL  ...             1              6
2022-02-10 20:07:00+00:00            b   AAPL  ...             2              7
2022-02-10 20:08:00+00:00            b   AAPL  ...             3              8
2022-02-10 20:09:00+00:00            b   AAPL  ...             4              9
2022-02-10 20:10:00+00:00            b   AAPL  ...             0             10
2022-02-10 20:11:00+00:00            b   AAPL  ...             1             11
2022-02-10 20:12:00+00:00            b   AAPL  ...             2             12
2022-02-10 20:13:00+00:00            b   AAPL  ...             3             13

[20 rows x 11 columns]

In [29]:
df_unique.loc[df_unique[df_unique['5MinReminder']==0].index.min()]

Message Type              b
Symbol                 AAPL
Open               172.7599
Close              172.7859
High                 172.86
Low                  172.74
Volume               109251
n                      1095
vw               172.790304
5MinReminder              0
15MinReminder            10
Name: 2022-02-10 19:55:00+00:00, dtype: object

In [33]:
dtime=df_unique[df_unique['5MinReminder']==0].index.min()
dtime

Timestamp('2022-02-10 19:55:00+0000', tz='UTC')

In [30]:
from datetime import datetime
from datetime import timedelta

In [34]:
final_time = dtime + timedelta(minutes=1)

In [38]:
 df_unique[df_unique['5MinReminder']==0].index.min() + timedelta(minutes=1)

Timestamp('2022-02-10 19:56:00+0000', tz='UTC')

In [37]:
final_time

Timestamp('2022-02-10 19:56:00+0000', tz='UTC')

In [41]:
df_unique_start=df_unique.loc[df_unique[df_unique['5MinReminder']==0].index.min() + timedelta(minutes=1):].copy()

In [59]:
t=df_unique_start.groupby(pd.Grouper(freq='5min')).agg({'Open':'first',
                                                       'Close':'last',
                                                       'High':'max',
                                                       'Low':'min'}).shift(1).iloc[1:]

In [60]:
t

                               Open     Close      High       Low
TimeStamp
2022-02-10 20:00:00+00:00  172.7852  172.8300  172.8950  172.5900
2022-02-10 20:05:00+00:00  172.8300  172.7600  172.8701  172.4500
2022-02-10 20:10:00+00:00  172.7800  172.9400  173.0100  172.6450
2022-02-10 20:15:00+00:00  172.9400  172.9400  173.1300  172.8200
2022-02-10 20:20:00+00:00  172.9400  172.8126  173.1400  172.7300
2022-02-10 20:25:00+00:00  172.8100  172.8200  172.8788  172.5600
2022-02-10 20:30:00+00:00  172.8250  172.7050  172.8700  172.5900
2022-02-10 20:35:00+00:00  172.6900  172.4500  172.7100  172.3500
2022-02-10 20:40:00+00:00  172.4650  172.7000  172.8900  172.3400
2022-02-10 20:45:00+00:00  172.7000  172.1800  172.7600  172.1000
2022-02-10 20:50:00+00:00  172.1800  171.8631  172.2900  171.5500
2022-02-10 20:55:00+00:00  171.8500  171.8500  172.4400  171.5500
2022-02-10 21:00:00+00:00  171.8500  172.2600  172.5000  171.8500
2022-02-10 21:05:00+00:00  172.1200  172.3300  172.3300  172.1000
2022-02-10 21:10:00+00:00  172.3200  172.4000  172.4300  172.1200
2022-02-10 21:15:00+00:00  172.3600  172.1500  172.4000  172.1000
2022-02-10 21:20:00+00:00  172.1600  172.0000  172.1600  172.0000
2022-02-10 21:25:00+00:00  172.0000  171.9900  172.1400  171.8100
2022-02-10 21:30:00+00:00  171.8600  171.9500  172.1200  171.8501
2022-02-10 21:35:00+00:00  172.0500  172.0400  172.1637  172.0000
2022-02-10 21:40:00+00:00  172.0000  172.1900  172.1900  172.0000
2022-02-10 21:45:00+00:00  172.1400  172.1500  172.1900  172.1200
2022-02-10 21:50:00+00:00  172.1400  172.0700  172.1400  172.0607
2022-02-10 21:55:00+00:00  172.1204  172.1500  172.1500  172.0500
2022-02-10 22:00:00+00:00  172.1117  172.2200  172.2200  172.1117
2022-02-10 22:05:00+00:00  172.1200  172.1300  172.2500  172.1200
2022-02-10 22:10:00+00:00  172.1121  172.1500  172.1800  172.1118
2022-02-10 22:15:00+00:00  172.2400  172.2300  172.2600  172.2000
2022-02-10 22:20:00+00:00  172.2000  172.1300  172.2000  172.0200
2022-02-10 22:25:00+00:00  172.1500  172.1301  172.1500  172.0600
2022-02-10 22:30:00+00:00  172.1800  172.1500  172.2000  172.1500
2022-02-10 22:35:00+00:00  172.1900  172.2500  172.2500  172.1600
2022-02-10 22:40:00+00:00  172.1700  172.1900  172.1900  172.1700
2022-02-10 22:45:00+00:00  172.1900  172.2600  172.2600  172.1900
2022-02-10 22:50:00+00:00  172.1900  172.1500  172.2300  172.1500
2022-02-10 22:55:00+00:00  172.2200  172.1300  172.2200  172.1300
2022-02-10 23:00:00+00:00  172.1300  172.1900  172.1900  172.1300
2022-02-10 23:05:00+00:00  172.1900  172.1200  172.1900  172.0700
2022-02-10 23:10:00+00:00  172.1700  172.2300  172.2300  172.1600
2022-02-10 23:15:00+00:00  172.2000  172.2300  172.2300  172.2000
2022-02-10 23:20:00+00:00  172.2000  172.2700  172.3000  172.2000
2022-02-10 23:25:00+00:00  172.3400  172.3000  172.3700  172.3000
2022-02-10 23:30:00+00:00  172.3000  172.1000  172.3000  172.1000
2022-02-10 23:35:00+00:00  172.0500  172.0300  172.1000  172.0000
2022-02-10 23:40:00+00:00  172.0300  172.0000  172.0600  171.9400
2022-02-10 23:45:00+00:00  172.0000  171.9400  172.0000  171.9400
2022-02-10 23:50:00+00:00  171.9900  171.9600  171.9900  171.9500
2022-02-10 23:55:00+00:00  172.0500  172.0500  172.0500  172.0500
2022-02-11 00:00:00+00:00  171.9600  171.8200  171.9600  171.8200
2022-02-11 00:05:00+00:00  171.8300  171.8800  171.8800  171.8300
2022-02-11 00:10:00+00:00  171.8200  171.9000  171.9000  171.8200
2022-02-11 00:15:00+00:00  171.9800  171.9000  171.9800  171.9000
2022-02-11 00:20:00+00:00  171.8500  171.7700  171.9000  171.7500
2022-02-11 00:25:00+00:00  171.8900  171.6500  171.8900  171.6500
2022-02-11 00:30:00+00:00  171.6800  171.6300  171.6900  171.6300
2022-02-11 00:35:00+00:00  171.6300  171.5100  171.6300  171.5100
2022-02-11 00:40:00+00:00  171.5800  171.6300  171.6300  171.5000
2022-02-11 00:45:00+00:00  171.6300  171.6700  171.6700  171.6200
2022-02-11 00:50:00+00:00  171.6900  171.7800  171.7800  171.6500
2022-02-11 00:55:00+00:00  171.7600  171.7100  171.7600  171.6900

In [52]:
t

                               Open     Close      High      Low
TimeStamp
2022-02-10 19:55:00+00:00  172.7852  172.8300  172.8950  172.590
2022-02-10 20:00:00+00:00  172.8300  172.7600  172.8701  172.450
2022-02-10 20:05:00+00:00  172.7800  172.9400  173.0100  172.645
2022-02-10 20:10:00+00:00  172.9400  172.9400  173.1300  172.820
2022-02-10 20:15:00+00:00  172.9400  172.8126  173.1400  172.730
...                             ...       ...       ...      ...
2022-02-11 00:35:00+00:00  171.5800  171.6300  171.6300  171.500
2022-02-11 00:40:00+00:00  171.6300  171.6700  171.6700  171.620
2022-02-11 00:45:00+00:00  171.6900  171.7800  171.7800  171.650
2022-02-11 00:50:00+00:00  171.7600  171.7100  171.7600  171.690
2022-02-11 00:55:00+00:00  171.7200  171.7900  171.7900  171.600

[61 rows x 4 columns]